{{ block "index" . }}
  <!doctype html>
  <html land="en">
    <head>
      <title>OTP</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script
        src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"
      ></script>
      <script src="https://cdn.tailwindcss.com"></script>
    </head>

  <body>
    {{ template "container" .Form }}

    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener("htmx:beforeSwap", function(evt) {
          if (evt.detail.xhr.status === 422) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
          }
        });
      });
    </script>
  </body>
</html>
{{ end }}

{{ block "container" . }}
<div class="max-w-4xl mx-auto mt-12">
  {{ template "form" . }}
  {{ template "chartric" . }}
  {{ template "chartother" . }}
</div>
{{ end }}


{{ block "form" . }}
<div id="form" class="mb-6">
  <p class="font-bold text-2xl  mb-3">Is your name Ric Pistachio?</p>
  <button hx-post="/submit/ric" class="block w-full p-3 mb-1.5 bg-gray-300 hover:bg-lime-300 focus:bg-lime-300 text-left border font-medium text-lg">🙂 Yes, I am the one</button>
  <button hx-post="/submit/other" class="block w-full p-3 mb-1.5 bg-gray-300 hover:bg-lime-300 focus:bg-lime-300 text-left border font-medium text-lg">😞 No, I am not worthy </button>
</div>
{{ end }}


{{ block "chartric" . }}
  <div class="mb-6">
      <div class="grid grid-cols-4 gap-x-1 mx-1 text-center font-medium">
        <div class="text-4xl text-orange-700">💥<div class="mt-1.5 bg-orange-400 border-t-2 border-orange-600 h-96 flex justify-center flex-col leading-none text-black text-xl">Customer obsessed</div></div>
        <div class="text-4xl text-lime-700">💥<div class="mt-1.5 bg-lime-400 border-t-2 border-lime-600 h-96 flex justify-center flex-col leading-none text-black text-xl">Bar raiser</div></div>
        <div class="text-4xl text-cyan-700">💥<div class="mt-1.5 bg-cyan-400 border-t-2 border-cyan-600 h-96 flex justify-center flex-col leading-none text-black text-xl">Learning fanatic</div></div>
        <div class="text-4xl text-yellow-700">💥<div class="mt-1.5 bg-yellow-400 border-t-2 border-yellow-600 h-96 flex justify-center flex-col leading-none text-black text-xl">United</div></div>
      </div> 
  </div>  
{{ end }} 


{{ block "chartother" . }}
  <div class="mb-6">
      <div class="grid grid-cols-4 gap-x-1 mx-1 text-center font-medium">
        <div class="h-96 flex flex-col justify-end bg-orange-100"><div class="text-lg text-orange-700">12.5%<div class="bg-orange-400 border-t-2 border-orange-600 h-12 flex justify-center flex-col leading-none text-black">Customer obsessed</div></div></div>
        <div class="h-96 flex flex-col justify-end bg-lime-100"><div class="text-lg text-lime-700">12.5%<div class="bg-lime-400 border-t-2 border-lime-600 h-12 flex justify-center flex-col leading-none text-black">Bar raiser</div></div></div>
        <div class="h-96 flex flex-col justify-end bg-cyan-100"><div class="text-lg">12.5%<div class="bg-cyan-400 border-t-2 border-cyan-600 h-12 flex justify-center flex-col leading-none text-black">Learning fanatic</div></div></div>
        <div class="h-96 flex flex-col justify-end bg-yellow-100"><div class="text-lg">25%<div class="bg-yellow-400 border-t-2 border-yellow-600 h-24 flex justify-center flex-col leading-none text-black">United</div></div></div>
      </div> 
  </div>  
{{ end }} 